
<h2 class='text-center'style='margin-top:20px;'>Admin Panel</h2>
<div class="container">
  <div class="row">
    <div class="col-md-3">
        <div class='  card' style='margin-top:20px;'>
          <h2 class='text-center card-header'>Register new Institution </h2> 
          <%= link_to 'New Institution', new_institution_path ,class: 'btn btn-dark btn-sm text-white float-right'%>
        </div>
    </div>
    
    <%# <div class="w-100"></div> %>
    
    <div class="col-md-3">
        <div class='card ' style='margin-top:20px;'>
           <h2 class='text-center card-header'>Register new Country</h2>
           <%= link_to 'New Country', new_country_path ,class: 'btn btn-dark btn-sm text-white float-right'%>
        </div>
    </div>
    <div class="col-md-3">
         <div class='card' style='margin-top:20px;'>
           <h2 class='text-center card-header'>Approve new entries</h2>
           <%= link_to 'New student', waiting_list_path,class: 'btn btn-sm btn-dark text-white float-right'%>
        </div>   
    </div>
    <div class='col-md-3'>
        <div class='card ' style='margin-top:20px;'>
           <h2 class='text-center card-header'>Seacrh with credentials</h2>
           <%= link_to 'Search', 'credential/search',class: 'btn  btn-sm btn-dark text-white float-right'%>
        
        </div>
    </div>
  </div>
</div>


