
<h1 class='text-center'>Admin Panel</h1>
<div class="container">
  <div class="row">
    <div class="col">
        <div class='jumbotron'>
          <h2 class='text-center'>Register new student</h2>
          <%= link_to 'New Student', new_student_path ,class: 'btn btn-primary text-white float-right '%>
        </div>
    
    </div>
    <div class="col">
        <div class=' jumbotron '>
          <h2 class='text-center'>Register new Institution</h2>
          <%= link_to 'New Institution', new_institution_path ,class: 'btn btn-primary text-white float-right'%>
        </div>
    </div>
    
    <div class="w-100"></div>
    
    <div class="col">
        <div class='jumbotron ' style='margin-top:20px;'>
           <h2 class='text-center'>Register new Country</h2>
           <%= link_to 'New Country', new_country_path ,class: 'btn btn-primary text-white float-right'%>
        </div>
    </div>
    <div class="col">
         <div class='jumbotron ' style='margin-top:20px;'>
           <h2 class='text-center'>Approve new entries</h2>
           <%= link_to 'New student', approve_path,class: 'btn btn-primary text-white float-right'%>
        </div>   
    </div>
  </div>
</div>


